html, body, #root {
  height: 100%;
  margin: 0;
}


/* Smooth thin scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scroll thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #1c8c57, #146c43);
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #28a267, #0f5132);
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #1c8c57 transparent;
}
